VITE_SUPABASE_URL=uslbhkglghyanyvkcsvi
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_21fMtChUUqqNatMvTtp74A_NgA81HdI
VITE_GOOGLE_MAPS_API_KEY=AIzaSyCSut4ogDQ24FaPUn3C4RmRLYHGGAw2I1U
VITE_TRANSLATION_API_KEY=AIzaSyAXoNOLqV48_fLBE8ZPX6trcGq6JRX-7Fk
